@attribute [Route(PageNames.Finances.TransactionList)]
@attribute [Authorize(Policy = Permissions.Transactions.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<FinanceAccounts> _localizer
@using BlazorHero.CleanArchitecture.Application.Features.Finance.Transactions.Queries.GetAllPaged;
@using BlazorHero.CleanArchitecture.Application.Requests

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<HeroTitle Title="@_localizer["Transactions"]" Description="@_localizer["Manage Transactions."]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Elevation="25" ServerData="@(new Func<TableState, Task<TableData<GetAllPagedTransactionsResponse>>>(ServerReload))" Hover="true" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" @ref="_table">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                @if (_canCreateTransactions)
            {
                <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => InvokeModal(0))" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@_localizer["Create"]</MudButton>
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>
            }
            else
            {
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>
            }
        </div>
        <MudSpacer />
        <MudAutocomplete T="NameIntValueResponse" ToStringFunc="@(e=> e==null?null : $"{e.Name}")" Label="@_localizer["FinanceAccount"]" @bind-Value="FilterFinanceAccount" SearchFunc="@SearchFinanceAccount"
                         ResetValueOnEmptyText="true" />
        <MudSpacer />
        @if (_canSearchTransactions)
        {
            <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="@_localizer["Search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        }
    </ToolBarContent>
    <HeaderContent>
        <MudTh Class="clm-row-small"><MudTableSortLabel T="GetAllPagedTransactionsResponse" SortLabel="Id">@_localizer["Id"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllPagedTransactionsResponse" SortLabel="Name" InitialDirection="SortDirection.Ascending">@_localizer["Name"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllPagedTransactionsResponse" SortLabel="DateTime">@_localizer["Date"]</MudTableSortLabel></MudTh>
        @if (!FilterByFinanceAccount)
            {
            <MudTh><MudTableSortLabel T="GetAllPagedTransactionsResponse" SortLabel="FinanceAccountName">@_localizer["FinanceAccountName"]</MudTableSortLabel></MudTh>
            }
        <MudTh><MudTableSortLabel T="GetAllPagedTransactionsResponse" SortLabel="Receiver">@_localizer["Receiver"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllPagedTransactionsResponse" SortLabel="TransactionType">@_localizer["TransactionType"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllPagedTransactionsResponse" SortLabel="Amount">@_localizer["Amount"]</MudTableSortLabel></MudTh>

        <MudTh Style="text-align:right">@_localizer["Actions"]</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">
            <MudHighlighter Text="@context.Name" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="DateTime">
            @context.DateTime.Value.ToShortDateString()
        </MudTd>
        @if (!FilterByFinanceAccount)
            {
            <MudTd DataLabel="FinanceAccountName">
            </MudTd>
            }
        <MudTd DataLabel="Reviever">@context.Receiver</MudTd>
        <MudTd DataLabel="TransactionType">
            @_localizer[context.TransactionType.ToString()]
        </MudTd>
        <MudTd DataLabel="InterestClaimSinceDate">@context.Amount.ToString("n2")</MudTd>
        <MudTd DataLabel="Actions" Style="text-align: right">
            @if (_canEditTransactions || _canDeleteTransactions)
                {
                <MudMenu Label="@_localizer["Actions"]" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                    @if (_canEditTransactions)
                        {
                        <MudMenuItem @onclick="@(() => InvokeModal(@context.Id))">@_localizer["Edit"]</MudMenuItem>
                        }
                    @if (_canDeleteTransactions)
                        {
                        <MudMenuItem @onclick="@(() => Delete(@context.Id))">@_localizer["Delete"]</MudMenuItem>
                        }
                </MudMenu>
                }
                else
                {
                <MudButton Variant="Variant.Filled"
                       DisableElevation="true"
                       StartIcon="@Icons.Material.Filled.DoNotTouch"
                       IconColor="Color.Secondary"
                       Size="Size.Small"
                       Color="Color.Surface">
                    @_localizer["No Allowed Actions"]
                </MudButton>
                }
        </MudTd>
    </RowTemplate>
    <FooterContent>
        <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@_localizer["Dense"]</MudSwitch>
        <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@_localizer["Striped"]</MudSwitch>
        <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@_localizer["Bordered"]</MudSwitch>
    </FooterContent>
    <PagerContent>
        <TablePager />
    </PagerContent>
</MudTable>
}